/* 首页头部导航部分 */
.page-header{
	    height: auto;
	background-color: #fc8600;
	margin: 0;
	    position: relative;
}
.new_active{
	background: red;
}
.containnerbanxin{
	width: 80%;
}
.top-leftLogoBox{
	width: 15%;

}
.sidebar .nav{
	margin-bottom: 100px;
	}
.top-leftLogoBox img{
width: 100%;
}
.nav-top-right{
	text-align: right;
}
.nav-top-linner{
	display: inline-block;
	width: 1px;
height: 14px;
    vertical-align: middle;
	background: #f1f1f1;

    vertical-align: middle;
}
.nav-top-link{
	color: #f1f1f1;
	font-size: 16px;
}
.nav-bottmBoxx{
	margin-top: 10px;
	margin-bottom: 10px;

}

.nav-bottmBox .nav-bttomBtn{
	    list-style: none;    float: left;
	
		
	}
	.nav-bottmBox .nav-bttomBtn a{
		    color: #f5f5f5;
			font-size: 18px;
	}
.nav-bottmBox .nav-bttomBtn:not(:first-child){
    /* width: 10%; */
    text-align: center;
    padding: 0 1%;
}

.header-fixed .page-header{
	position: relative;
}

.header-fixed .sidebar {
    margin-top: 0px;
	background: #fff;
}
.sidebar .nav-dropdown.open .nav-dropdown-items{
	background: #fff;
}
.sidebar .nav-link-title{
	color: #000;
	font-size: 18px;
	font-weight: bolder;
}
.sidebar .nav-link.active, .sidebar .nav-link:hover i{
	color: #000;
}
.sidebar .nav-link:hover{
	color: #000;
}
.sidebar .nav-link i:first-of-type{
	color: #000;
}
.sidebar .nav-link i:first-of-type{
	width: 7px;
}
.sidebar .nav-link .icon-shower{
	
	height: 7px;
	background: #9D9D9D;
	border-radius: 50%;
	display: inline-block;
}
a.nav-link.nav-link-pading {
    padding-left: 53px;
}
.header-fixed .content{
	margin-top: 0;
	padding: 0 ;
}
.index_titleBox {
    text-align: center;
    padding: 10px;
    background: #EAEAEA;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #343434;
}
.footer_text{
    width: 100%;
    height: 50px;
    z-index: 11111111111111111;
    background: #FC8600;
    position: fixed;
    bottom: 0px;
	text-align: center;
		font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	line-height: 50px;
}
/* 首页导航公共样式 */

/* 首页>content */
.index-showBox{
	border-radius: 10px;
	padding: 15px 0;
	}
.showBox-bule{
	background: #5580D9;
}
.showBox-orange{
	background: #FC8600;

}
.showBox-green{
	background: #72CB1C;

}
.showBox-violet{
	background: #9448D7;

}
.showBox-red{
	background: #C33842;

}
.showBox-skybule{
	background: #3AB8C4;

}
.showBox-black{
	background: #253B48;

}
.showBox-darkblue{
	background: #2671bb;

}
.showBox_vertical{
	text-align: center;
	height: 120px;
}
.container-fluid .index-showBox span.showBox_text{
	display: block;
	font-size: 18px;
	color: #fff;
	margin: 0;
	padding: 0;
}
/* /首页>content */

/* 首页>报表统计 */
.index_marketingTitle{
	text-align: left;
	padding-left: 30px;
	font-weight: 700;
}
.marketing_selectBox{
	padding: 15px 30px;
	}
.marketing_selectBox .select_tenantName,.select_timeName{
	color: #343434;
	font-size: 16px;
	}
	.marketing_selectBox .select_input,.select_select{
border: none;
outline:none;
border-radius: 5px;
    border: 1px solid #f1f1f1;
		}
		.select_select{
			width: auto;
			 text-align-last: center;
			-moz-text-align-last: right;  /* 兼容 Firefox*/

		}
		.select_select option{
			text-align: center;
			 text-align-last: center;
			-moz-text-align-last: right;  /* 兼容 Firefox*/
		}
		.select_input{
			float: none;
			margin-left: 15px;
			width: 9%;
		}
		.select_timeName{
			margin-left: 15px;
		}
	.marketing_selectBox .select_seach_btn{
		/* width: 100px; */
		height: 25px;
		background: #FC8600;
		color: #fff;
		line-height: 25px;
		text-align: center;
		display: inline-block;
		border-radius: 5px;
		font-size: 16px;
		    margin-left: 15px;
			padding:0 10px;
	}
	.new_table {
		border-bottom: 1px solid #DDDDDD;
	}
	.new_table .new_thead th{
		border: none;
		background: #fff;
		text-align: center;
		border-color: #DDDDDD;
	}
	.new_table .new_tbody td{
		background: #F6F6F6;
		text-align: center;
		    border-right: 1px dashed #DDDDDD;
	}
	.tableAt_btn{
		width: 100px;
		height: 25px;
		background: #FC8600;
		color: #fff;
		line-height: 25px;
		text-align: center;
		display: inline-block;
		border-radius: 5px;
		font-size: 16px;
		    margin-left: 15px;
	}
	.tableAt_btn:hover{
		color: #fff;
	}

	.M-box1 {
		width: 79%;
		/* background: pink; */
		    /* text-align: right; */
			display: inline-block;
			text-align: right;
	}
	.M-box1 .active{
		width: 5%;
		font-size: 18px;
		display: inline-block;

	}
	.M-box1 a{
		font-size: 18px;
		width: 5%;
		    text-align: center;
		display: inline-block;
	}
	.M-box1 span{
			width: 5%;
		font-size: 18px;
		display: inline-block;
		text-align: center;
		color: #00acef;;
	}
	.M-box1 .prev,.next{
	width: 89px;
	height: 30px;
	background-color: #fc8600;
	border-radius: 4px;
	    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
	
		}
		.M-box1 .next{
				width: 89px;
		}
		.M-box1 .next:hover{
			color: #fff;
		}
		.dataShow{
			display: inline-block;
		}
	.dataShowText {
    font-size: 16px;
    color: #454545;
}
		.dataShow .dataShowIpnt{
		width: 25px;
		height: 18px;
		color: #000;
		border-radius: 3px;
			float: none;
		}
/* /首页>报表统计 */

/* 首页>结算报表 */
.select_seach_emptyBtn{
		/* width: 100px; */
		height: 25px;
		background: #FC8600;
		color: #fff;
		line-height: 25px;
		text-align: center;
		display: inline-block;
		border-radius: 5px;
		font-size: 16px;
		    margin-left: 15px;
			padding: 0 20px;
	}
	.select_seach_emptyBtn:hover{
		color: #fff;
		}
		.closeData_show{
			width: 100%;
			background: #fff;
			text-align: center;
			padding: 30px 0;
			font-size: 16px;
		}
		.closeData_show span{
			display: block;
			
		}
		.closeTotal{
			width: 100%;
			background: #EAEAEA;
			text-align: right;
			padding: 15px 35px;
			font-size: 16px;
		}
/* /首页>结算报表 */
/* 公共样式 */
.select_border{
	border: 1px solid #000;
}
/* 公共样式 */